* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: midnightblue;
  color: white;
}

body {
  padding: 60px;
}

input {
  background-color: blueviolet;
  font-size: 1.2 rem;
  width: 100%;
}
